.flash-box
  .wrappr
    = render 'shared/side_bar'
    .main
      .main__header
        .main__header__left__box
          .main__header__left__box__group
            sample
          .main__header__left__box__member
            member
        .main__header__edit-button
          Edit
      .main__messages
        = render @messages
      .main__form
        = form_for [@group, @message] do |f|
          .main__form__new__message
            .main__form__new__message__input-box
              = f.text_field :content, class: 'main__form__new__message__input-box__text', placeholder: 'type a message'
              = f.label :image, class: 'main__form__new__message__input-box__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'main__form__new__message__submit'
            